.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 20px;

  background: var(--background);
  color: var(--text);
  transition: background 0.3s ease, color 0.3s ease;
}

.home-container h1 {
  color: var(--text);
  font-size: 36px;
  margin-bottom: 20px;
}

.home-container p {
  color: var(--text);
  font-size: 16px;
  margin-bottom: 20px;
}