
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--bg);
}


:root {
  --header-height: 90px;
}

.page-content {
  flex: 1;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: var(--header-height); 
  box-sizing: border-box;
}