body {
  background: var(--background);
  color: var(--text);
  transition: background 0.3s ease, color 0.3s ease;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
:root[data-theme="light"] {
  --text: #040316;
  --background: #d5e7da;
  --primary: #3bab7e;
  --secondary: #da5c58;
  --accent: #327e95;
}

:root[data-theme="dark"] {
  --text: #eae9fc;
  --background: #18202e;
  --primary: #2b8b65;
  --secondary: #a72925;
  --accent: #3cb0d3;
}